{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} {{agent.name}}{% endblock %}
{% block content %}

<!--/ Intro Single star /-->
<section class="intro-single text-capitalize">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">{{agent.name}}</h1>
            <span class="color-text-a" style="font-size: 30px; font-weight:900; color:#059e40"><span style="font-weight: 100; color:black"> Position:</span> <u>{{agent.role}}</u></span> 
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
              </li>
              <li class="breadcrumb-item">  
                <a>Agent</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{agent.name}}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Agent Single Star /-->
  <section class="agent-single text-capitalize">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <div class="agent-avatar-box">
                <img src="{{agent.photo.url}}" alt="" class="agent-avatar img-fluid">
              </div>
            </div>
            <div class="col-md-5 section-md-t3">
              <div class="agent-info-box">
                <div class="agent-title">
                  <div class="title-box-d">
                    <h3 class="title-d">{{agent.name}}
                    </h3>
                  </div>
                </div>
                <div class="agent-content mb-3">
                  <p class="content-d color-text-a">
                    {{agent.description}}
                  </p>
                  <div class="info-agents color-a">
                    <p>
                      <strong>Phone: </strong>
                      <span class="color-text-a"> {{agent.phone}} </span>
                    </p>
                    <p>
                      <strong>Email: </strong>
                      <span class="color-text-a"> {{agent.email}}</span>
                    </p>
                  </div>
                </div>
                <div class="socials-footer">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="{{agent.facebook}}" class="link-one">
                        <i class="fa fa-facebook" style="color:#191cb4; font-size: 30px" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="{{agent.twitter}}" class="link-one">
                        <i class="fa fa-twitter" style="color:#168ca1; font-size: 30px" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="{{agent.instagram}}" class="link-one">
                        <i class="fa fa-instagram" style="color:#d44f27; font-size: 30px" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="{{agent.google_plus}}" class="link-one">
                        <i class="fa fa-google-plus" style="color:#c20000; font-size: 30px"  aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="{{agent.linkedin}}" class="link-one">
                        <i class="fa fa-linkedin" style="color:#9b4141; font-size: 30px" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Agent Single End /-->
{% endblock %}