{% load static %}
<footer>
    <div class="container">
      <div class="row">
          <img src="/static/img/njn.png" class="image-fluid footer-img" alt="NJN HOMES">
        <div class="col-md-12">
          <nav class="nav-footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="{% url 'index' %}" style="color:#000000; font-size: 18px">Home</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'about' %}" style="color:#000000; font-size: 18px">About</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'properties' %}" style="color:#000000; font-size: 18px">Property</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'blogs' %}" style="color:#000000; font-size: 18px">Blog</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'consult' %}" style="color:#000000; font-size: 18px">Contact</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'services' %}" style="color:#000000; font-size: 18px">Services</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'agents' %}" style="color:#000000; font-size: 18px">Agents</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'carriers' %}" style="color:#000000; font-size: 18px">Carriers</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'policy' %}" style="color:#000000; font-size: 18px">Privacy-Policy</a>
              </li>
            </ul>
          </nav>
          <div class="socials-a">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook" style="color:#191cb4; font-size: 30px" aria-hidden="true"></i>
                </a>
              </li> 
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter" style="color:#168ca1; font-size: 30px" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram" style="color:#d44f27; font-size: 30px" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-google-plus" style="color:#c20000; font-size: 30px" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin" style="color:#0c01a5; font-size: 30px" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="copyright-footer">
            <p style="font-weight: bold;">
               Contact Us At njnhomes@yahoo.com or with our phone numbers: <span>+(237) 677458625</span>
            </p>
          </div>
          <div class="credits">
            <h3  style="font-family: Aclonica;">NJN HOMES</h3>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ Footer End /-->
<!--/ Footer End /-->