{% load static %}
<!--/ Nav Star /-->
<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
    <div>
      <a class="navbar-brand" href="{% url 'index' %}">
        <div class="logo-image">
            <img src="/static/img/njn.png" alt="NJN HOMES" class="image-fluid">
        </div>
      </a>
    </div>
      <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">
          <li 
        {% if '/' == request.path %}
          class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %} 
          >
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li
          {% if 'about' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %} 
            >
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li
          {% if 'properties' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}>
            <a class="nav-link" href="{% url 'properties' %}">Property</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Pages
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'agents' %}">Agents Grid</a>
              <a class="dropdown-item" href="{% url 'blogs' %}">Blog</a>
            </div>
          </li>
        {% if user.is_authenticated %}
          <li 
          {% if 'dashboard' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %} >
            <a class="nav-link text-capitalize" href="{% url 'dashboard' %}">
                Welcome {{user.username}} (Dashboard)
            </a>
          </li>
          <li class="nav-item mr-3">
            <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
              <i class="fas fa-sign-out-alt"></i> Logout
            </a>
            <form action="{% url 'logout' %}" method="POST" id="logout">
              {% csrf_token %}
              <input type= "hidden">
            </form>
          </li>
        {% else %}
          <li 
          {% if 'register' in request.path %}
              class="nav-item active mr-3"
          {% else %}
              class="nav-item mr-3"
          {% endif %} 
          >
            <a class="nav-link" href="{% url 'register' %}">
              <i class="fas fa-user-plus"></i> Register</a>
          </li>
          <li 
            {% if 'login' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %} 
            >
            <a class="nav-link" href="{% url 'login' %}">
            <i class="fas fa-sign-in-alt"></i>
              Login</a>
            </li>
        {% endif %}
        </ul>
      </div>
      <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
    </div>
  </nav>
  <!--/ Nav End /-->