{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% block title %} About{% endblock %}

{% block content %}

<!--/ Intro Single star /-->
<section class="intro-single text-capitalize">
    <div class="container">
      <div class="row">
  {% if about %}
    {% for about in about %}
        <div class="col-md-12 col-lg-8 text-capitalize">
          <div class="title-single-box">
            <h1 class="title-single" style="font-family: Aclonica; color:#000000">{{about.title}}</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                About
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ About Star /-->
  <section class="section-about text-capitalize">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="about-img-box">
            <img src="{{about.photo.url}}" alt="" class="img-fluid">
          </div>
          <div class="sinse-box">
            <h3 class="sinse-title" style="font-family:Aclonica; background-color:rgb(122, 177, 72)">NJN Homes
              <br> Since 2011</h3>
            <p style="color:black; font-weight: 900; background-color: green">HEAD OFFICE: <span style="font-family: krinkes_regular_personal_usRg; color:#ffffff"> Bamenda</span></p>
          </div>
        </div>
        <div class="col-md-12 section-t8">
          <div class="row">
            <div class="col-md-12 ">
              <p class="color-text-a">
                {{about.description | linebreaks}}
              </p>
            </div>
          </div>
        </div>
    {% endfor %}
  {% else %}
  <div class="col-md-12">
    <h1 style="font-family: krinkes_regular_personal_usRg; color:#000000" class="text-capitalize">
      No Infomation Available Yet. Please Check In Later.
    </h1>
  </div>
  {% endif %}
      </div>
    </div>
  </section>
  <!--/ About End /-->

  <!--/ Team Star /-->
  <section class="section-agents section-t8 text-capitalize">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a" style="font-family:  Aclonica; color:#000000">Meet Our Team</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
  {% if agents %}
    {% for agent in agents %}
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="{{agent.photo.url}}" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="{% url 'agent' agent.slug %}" class="link-two text-capitalize">{{agent.name}}
                    </a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  {{agent.description | truncatechars:50 | linebreaks}}
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Phone: </strong> {{agent.phone}}</p>
                  <p>
                    <strong>Email: </strong> {{agent.email}}</p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-facebook" style="color:#295396;" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-twitter" style="color:#1da0f2" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-instagram" style="color:#d3368c;" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-google-plus" style="color:#d6201f;" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-linkedin" style="color:#0077b5;"  aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
  {% else %}
  <div class="col-md-12 text-capitalize">
    <h1 style="font-family:krinkes_regular_personal_usRg;">
      No Agents Available Yet, Please Check In Later.
    </h1>
  </div>
  {% endif %}
      </div>
    </div>
  </section>
  <!--/ Team End /-->

{% endblock %}