{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Services {% endblock %}

{% block content %}

<div class="navbar navbar-default navbar-fixed-top scroll-me text-capitalize">
        <!-- pass scroll-me class above a tags to starts scrolling -->
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="assets/img/logo.png"  alt=""/>
                </a>
            </div>
        </div>
    </div>
    <!-- NAVBAR END  -->
    <div id="header">
        <div class="overlay">
            <div class="container">
                <div class="row scroll-me">
                    <div class="col-md-12 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 text-center ">

                        <h1 data-scroll-reveal="enter from the bottom after 0.50s" style="font-family: Aclonica;">Time Fadeout,  Design <br>Doesn't
                        </h1>

                        <h4 data-scroll-reveal="enter from the bottom after 0.4s" class="text-capitalize">welcome
                            to our services page, we of many if not all services concerning realestate management. you came to the right place at NJN Homes
                            <br>we are her to serve you.
                        </h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--HEADER SECTION END  -->
    <section id="services" class="text-capitalize">
        <div class="container">
            <div class="row text-center">
                <div class=" col-md-12 col-md-6 col-md-offset-3 pad-bottom" data-scroll-reveal="enter from the bottom after 0.2s">
                    <h2><strong style="font-family: Aclonica;">OUR SERVICES</strong></h2>
                    Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae

                </div>
            </div>
            <div class="row text-center pad-bottom" data-scroll-reveal="enter from the bottom after 0.4s">
                <div class="col-md-3">
                    <i class="ion-ios-cloud-outline"></i>
                    <h4><strong>Service Name # 1 </strong></h4>
                    Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae felis dolor vitae
                </div>
                <div class="col-md-3">
                    <i class="ion-card"></i>
                    <h4><strong>Service Name # 2 </strong></h4>
                    Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae felis dolor vitae
                </div>
                <div class="col-md-3">
                    <i class="ion-speedometer"></i>
                    <h4><strong>Service Name # 3 </strong></h4>
                    Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae felis dolor vitae
                </div>
                <div class="col-md-3">
                    <i class="ion-ios-settings"></i>
                    <h4><strong>Service Name # 4 </strong></h4>
                    Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae felis dolor vitae
                </div>
            </div>
            <div class="row text-center" data-scroll-reveal="enter from the bottom after 0.6s">
                <div class="col-md-3">
                    <i class="ion-ios-chatboxes-outline"></i>
                    <h4><strong>Service Name # 5 </strong></h4>
                    Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae felis dolor vitae
                </div>
                <div class="col-md-3">
                    <i class="ion-ios-pulse-strong"></i>
                    <h4><strong>Service Name # 6 </strong></h4>
                    Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae felis dolor vitae
                </div>
                <div class="col-md-3">
                    <i class="ion-ios-browsers-outline"></i>
                    <h4><strong>Service Name # 7 </strong></h4>
                    Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae felis dolor vitae
                </div>
                <div class="col-md-3">
                    <i class="ion-ios-people-outline"></i>
                    <h4><strong>Service Name # 8 </strong></h4>
                    Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae felis dolor vitae
                </div>
            </div>
        </div>


    </section>
    <!-- SERVICES SECTION END  -->
    <div id="clients" class="text-capitalize">
        <div class="overlay">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12" data-scroll-reveal="enter from the bottom after 0.2s">
                        <div class="carousel slide clients-carousel" id="clients-slider">
                            <div class="carousel-inner">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <a href="#">
                                                <img src="/static/img/themeforest.png" alt="" />
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="#">
                                                <img src="/static/img/facebook.png" alt="" />
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a  href="#">
                                                <img src="/static/img/google.png" alt="" />
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a  href="#">
                                                <img src="/static/img/graphic.png" alt="" />
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a  href="#">
                                                <img src="/static/img/graphic.png" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CLIENTS SECTION END  -->
    
    <section id="contact" class="text-capitalize">
        <div class="">
            <div class="container">
                <div class="row text-center" data-scroll-reveal="enter from the bottom after 0.2s">
                    <div class="col-md-6 col-md-12 col-md-offset-3 pad-bottom">
                        <h2><strong style="font-family: Aclonica;">STAY CONNECTED </strong></h2>
                        <p>Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae</p>
                    </div>
                </div>

                <div class="row text-center" data-scroll-reveal="enter from the bottom after 0.4s">

                    <div class="col-md-8 col-md-12 col-md-offset-2 col-sm-8 col-sm-offset-2">
                        <h3><strong style="font-family: Aclonica;">Address : </strong></h3>
                        <br />
                        <h4>102, Melborne City International,</h4>
                        <h4>United States </h4>
                        <p><strong>Email : </strong>info@yourdomain.com</p>
                    </div>

                </div>



            </div>
        </div>
    </section>
    <!-- CONTACT SECTION END -->

{% endblock %}