{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} {{property_single.title}} {{property_single.city}} {% endblock %}
{% block content %}
<!--/ Intro Single star /-->
<section class="intro-single text-capitalize">
  <div class="container">
      <!-- Alerts  -->
      {% include 'partials/_alerts.html' %}
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single" style="font-family: Aclonica; color:#000000;">{{property_single.title}}</h1>
          <span class="color-text-a">{{property_single.city}}</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="{% url 'properties' %}">Properties</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              {{property_single.address}}
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!--/ Intro Single End /-->

<!--/ Property Single Star /-->
<section class="property-single nav-arrow-b text-capitalize">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property img-fluid">
          <div class="carousel-item-b">
            <img src="{{property_single.photo_main.url}}" alt="">
          </div>
        {% if property_single.photo_1 %}
          <div class="carousel-item-b">
            <img src="{{property_single.photo_1.url}}" alt="">
          </div>
        {% endif %}
        {% if property_single.photo_2 %}
          <div class="carousel-item-b">
            <img src="{{property_single.photo_2.url}}" alt="">
          </div>
        {% endif %}
        {% if property_single.photo_3 %}
          <div class="carousel-item-b">
            <img src="{{property_single.photo_3.url}}" alt="">
          </div>
        {% endif %}
        {% if property_single.photo_4 %}
          <div class="carousel-item-b">
            <img src="{{property_single.photo_4.url}}" alt="">
          </div>
        {% endif %}
        {% if property_single.photo_5 %}
          <div class="carousel-item-b">
            <img src="{{property_single.photo_5.url}}" alt="">
          </div>
        {% endif %}
        {% if property_single.photo_6 %}
          <div class="carousel-item-b">
            <img src="{{property_single.photo_6.url}}" alt="">
          </div>
        {% endif %}
        </div>
        <div class="row justify-content-between">
          <div class="col-md-5 col-lg-4">
            <div class="property-price d-flex justify-content-center foo">
              <div class="card-header-c d-flex">
                <div class="card-title-c align-self-center">
                  <h2 class="title-c">Price:</h2>
                  <h5 class="title-c">$ {{property_single.price}}</h5>
                </div>
              </div>
            </div>
            <div class="property-summary">
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d section-t4">
                    <h3 class="text-bold title-d" style="font-family: krinkes_regular_personal_usRg; color:#000000">Quick Summary</h3>
                  </div>
                </div>
              </div>
              <div class="summary-list">
                <ul class="list">
                  <li class="d-flex justify-content-between">
                    <strong>Property ID:</strong>
                    <span>00{{property_single.id}}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Location:</strong>
                    <span>{{property_single.address}}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Property Type:</strong>
                    <span>{{property_single.property_type}}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Status:</strong>
                    <span>{{property_single.status}} </span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Area:</strong>
                    <span>{{property_single.area}}m
                      <sup>2</sup>
                    </span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Bedrooms:</strong>
                    <span>{{property_single.bedrooms}}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Bathrooms:</strong>
                    <span>{{property_single.bathrooms}}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Garage:</strong>
                    <span>{{property_single.garage}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-lg-7 section-md-t3">
            <div class="row">
              <div class="col-sm-12">
                <div class="title-box-d">
                  <h3 class="title-d" style="font-family: krinkes_regular_personal_usRg; color:#000000">Property Description</h3>
                </div>
              </div>
            </div>
            <div class="property-description">
              <p class="description color-text-a">
                  {{property_single.content | linebreaks}}
              </p>
            </div>
            <div class="row section-t3">
              <div class="col-sm-12">
                <div class="title-box-d">
                  <h3 class="title-d" style="font-family: krinkes_regular_personal_usRg; color:#000000">Amenities</h3>
                </div>
              </div>
            </div>
            <div class="amenities-list color-text-a text-capitalize">
              <ul class="list-a no-margin">
              {% if property_single.amenity1 %}
                <li>{{property_single.amenity1}}</li>
              {% endif %}
              {% if property_single.amenity2 %}
                <li>{{property_single.amenity2}}</li>
              {% endif %}
              {% if property_single.amenity3 %}
                <li>{{property_single.amenity3}}</li>
              {% endif %}
              {% if property_single.amenity4 %}
                <li>{{property_single.amenity4}}</li>
              {% endif %}
              {% if property_single.amenity5 %}
                <li>{{property_single.amenity5}}</li>
              {% endif %}
              {% if property_single.amenity6 %}
                <li>{{property_single.amenity6}}</li>
              {% endif %}
              {% if property_single.amenity7 %}
                <li>{{property_single.amenity7}}</li>
              {% endif %}
              {% if property_single.amenity8 %}
                <li>{{property_single.amenity8}}</li>
              {% endif %}
              {% if property_single.amenity9 %}
                <li>{{property_single.amenity9}}</li>
              {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-capitalize">
        <div class="row section-t3">
          <div class="col-sm-12">
            <div class="title-box-d">
              <h3 class="title-d" style="font-family: krinkes_decor_personal_useRg; color:#000000">Contact Agent</h3>
            </div>
          </div>
        </div>
    {% if user.is_authenticated %}
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <img src="{{property_single.agent.photo.url}}" alt="" class="img-fluid">
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="property-agent text-capitalize">
              <h4 class="title-agent">{{property_single.agent.name}}</h4>
              <p class="color-text-a">
                  {{property_single.agent.description | linebreaks}}
              </p>
              <ul class="list-unstyled">
                <li class="d-flex justify-content-between">
                  <strong>Phone:</strong>
                  <span class="color-text-a">{{property_single.agent.phone}}</span>
                </li>
                <li class="d-flex justify-content-between">
                  <strong>Email:</strong>
                  <span class="color-text-a">{{property_single.agent.email}}</span>
                </li>
              </ul>
              <div class="socials-a">
                <ul class="list-inline">
                  {% if property_single.agent.facebook %}
                  <li class="list-inline-item">
                    <a href="{{property_single.agent.facebook}}">
                      <i class="fa fa-facebook" style="color:#295396; font-size: 30px"  aria-hidden="true"></i>
                    </a>
                  </li>
                  {% endif %}
                  {% if property_single.agent.twitter %}
                  <li class="list-inline-item">
                    <a href="{{property_single.agent.twitter}}">
                      <i class="fa fa-twitter" style="color:#1da0f2; font-size: 30px" aria-hidden="true"></i>
                    </a>
                  </li>
                  {% endif %}
                  {% if property_single.agent.instagram %}
                  <li class="list-inline-item">
                    <a href="{{property_single.agent.instagram}}">
                      <i class="fa fa-instagram" style="color:#d3368c; font-size: 30px" aria-hidden="true"></i>
                    </a>
                  </li>
                  {% endif %}
                  {% if property_single.agent.google_plus %}
                  <li class="list-inline-item">
                    <a href="{{property_single.agent.google_plus}}">
                      <i class="fa fa-google-plus" style="color:#d6201f; font-size: 30px" aria-hidden="true"></i>
                    </a>
                  </li>
                  {% endif %}
                  {% if property_single.agent.linkedin %}
                  <li class="list-inline-item">
                    <a href="{{property_single.agent.linkedin}}">
                      <i class="fa fa-linkedin" style="color:#0077b5; font-size: 30px" aria-hidden="true"></i>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
    {% else %}
    <div class="col-md-12 text-capitalize">
      <div class="container">
        <div class="row">
          <p class="text-capitalize" style="font-size: 20px;">
            you can send us property inquiry message even when not loggedIn, 
            but you can't view personal information on our agents when not <span>
            <a href="{% url 'register' %}" style="color: rgb(7, 148, 61);font-family:krinkes_decor_personal_useRg">Registered</a> 
            or</span> <span><a href="{% url 'login' %}" style="color: rgb(7, 148, 61);font-family:krinkes_decor_personal_useRg"> loggedIn</a></span>
          </p>
        </div>
      </div>
    </div>
    {% endif %}
          <div class="col-md-12 col-lg-4">
            <div class="property-contact"> 
              <form action="{% url 'contact' %}" method="POST">
                  {% csrf_token %}
                  {% if user.is_authenticated %} 
                      <input type="hidden" name="user_id" value="{{user.id}}">
                  {% else %}
                      <input type="hidden" name="user_id" value="0">
                  {% endif %}
                <input type="hidden" name="agent_email" value="{{property_single.agent.email}}">  
                <input type="hidden" name="property_single_id" value="{{property_single.id}}">
                <div class="row">
                  <div class="col-md-12 mb-1">
                      <div class="form-group">
                        <input type="text" class="form-control form-control-lg form-control-a" name="property_single" value="{{property_single.title}}"
                          placeholder="Property *" required>
                      </div>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-lg form-control-a" name="name" id="inputName"
                        {% if user.is_authenticated %} value=" {{user.first_name}} {{user.last_name}}" {% endif %} placeholder="Name *" required>
                    </div>
                  </div>
                  <div class="col-md-12 mb-1">
                    <div class="form-group">
                      <input type="email" class="form-control form-control-lg form-control-a" name="email" id="inputEmail1"
                      {% if user.is_authenticated%} value=" {{user.email }} " {% endif %} placeholder="Email *" required>
                    </div>
                  </div>
                  <div class="col-md-12 mb-1">
                    <div class="form-group">
                      <input type="phone" class="form-control form-control-lg form-control-a" name="phone" id="phone"
                        placeholder="Phone *" {% if user.is_authenticated %} value="{{property_single.agent.phone}}" {% endif %} required>
                    </div>
                  </div>
                  <div class="col-md-12 mb-1">
                    <div class="form-group">
                      <textarea id="textMessage" class="form-control" placeholder="Message *" name="message" cols="45"
                        rows="8" required></textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button type="submit" class="form-submit">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Property Single End /-->


{% endblock %}