{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Properties{% endblock %}
{% block content %}

<section class="intro-single text-capitalize">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single" style="font-family:  Aclonica;">Our Amazing Properties</h1>
            <span class="color-text-a">Properties</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Properties Grid
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Property Grid Star /-->
  <section class="property-grid grid text-capitalize">
    <div class="container">
      <div class="row">
  {% if properties %}
    {% for property_single in properties %}
        <div class="col-md-4">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="{{property_single.photo_main.url}}" alt="" style="height: 450px; width:400px"  class="img-a img-thumbnail">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="{% url 'property_single' property_single.id %}">{{property_single.title}}
                      <br>{{property_single.city}}
                      </a>
                  </h2>
                </div>
                <br>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <a href="{% url 'property_single' property_single.id %}"><span class="price-a">{{property_single.status}} | ${{property_single.price | intcomma}}</span></a>
                  </div>
                  <br>
                  <a href="{% url 'property_single' property_single.id %}" class="link-a">Click here to view
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
                <br>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Area</h4>
                      <span>{{property_single.area}}
                        <sup>{{property_single.square}}</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Beds</h4>
                      <span>{{property_single.bedrooms}}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baths</h4>
                      <span>{{property_single.bathrooms}}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Garages</h4>
                      <span>{{property_single.garage}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
  {% else %}
  <div class="col-md-12">
    <h1 style="font-family: krinkes_regular_personal_usRg; color:#000000" class="text-capitalize">
      No Properties Available At The Moment, Please Check Again Later For Latest Listings.
    </h1>
  </div>
  {% endif %}
      </div>
      <div class="row pull-right">
        <div class="col-md-12">
          {% if properties.has_other_pages %}
          <ul class="pagination">
            {% if properties.has_previous %}
            <li class="page-item">
              <a href="?page={{properties.previous_page_number}} " class="page-link">&laquo;</a>
            </li>
            {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&laquo;</a>
                </li>
            {% endif %}
            {% for i in properties.paginator.page_range %}
                {% if properties.number == i %}
                    <li class="page-item active">
                      <a class="page-link">{{i}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                      <a href="?page={{i}}" class="page-link">{{i}}</a>
                    </li>
                {% endif %}
            {% endfor %}
          {% if properties.has_other_pages %}
          <ul class="pagination">
              {% if properties.has_next %}
            <li class="page-item">
              <a href="?page={{properties.next_page_number}} " class="page-link">&raquo;</a>
            </li>
            {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&raquo;</a>
                </li>
            {% endif %}
          {% endif %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <!--/ Property Grid End /-->

{% endblock %}