<!-- All Plugin Css --> 
<link rel="stylesheet" href="/static/css/plugins.css"> 
{% extends 'base1.html' %}
{% load static %}
{% load humanize %}
{% block title %} Carriers{% endblock %}
{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<section class="main-banner" style="background:#242c36 url(/static/img/slider-01.jpg) no-repeat">
    <div class="container">
        <div class="caption">
            <h2 style="font-family: Aclonica;padding-top:65px">Build Your Career</h2>
            <form action="{% url 'search2' %}">
                <fieldset>
                    <div class="col-md-4 col-sm-4 no-pad">
                        <input type="text" name="keywords" value ="{{values.keywords}}" class="form-control border-right" placeholder="Skills, Designation, Companies" />
                    </div>
                    <div class="col-md-3 col-sm-3 no-pad">
                        <select class="selectpicker border-right" name="experience">
                            <option selected="true"  disabled="disabled">Years Of Experience</option>
                            {% for key,value in experience_choices.items %}
                                  <option value="{{key}}">{{value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-3 no-pad">
                        <select class="selectpicker" name="job_title">
                            <option selected="true" disabled="disabled">Job Title & Category</option>
                            {% for key,value in job_title_choices.items %}
                                  <option value="{{key}}">{{value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-2 no-pad">
                        <input type="submit" class="form-submit" value="submit" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="col-md-4 col-sm-4">
            <div class="features-content">
                <span class="box1"><span aria-hidden="true" style="color: green;" class="icon-dial"></span></span>
                <h3>Create An Account</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        
        <div class="col-md-4 col-sm-4">
            <div class="features-content">
                <span class="box1"><span aria-hidden="true" style="color: green;"  class="icon-search"></span></span>
                <h3>Search Desired Job</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        
        <div class="col-md-4 col-sm-4">
            <div class="features-content">
                <span class="box1"><span aria-hidden="true" style="color: green;"  class="icon-printer"></span></span>
                <h3>Send Your Resume</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    
    </div>
</section>
    
<section class="jobs">
    <div class="container">
        <div class="text-center">
            <h2 style="font-family: Aclonica;">Latest Jobs</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
        </div>
{% if carriers %}
    {% for carrier in carriers %}
        <div class="companies">
            <div class="company-list">
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <div class="company-logo">
                            <img src="{{carrier.logo.url}}" class="img-responsive" alt="{{carrier.company}} Logo" />
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <div class="company-content">
                            <h3 style="font-family: krinkes_regular_personal_usRg;"><u>{{carrier.job_title}}</u></h3>
                            <p><span class="company-name"><i class="fa fa-briefcase"></i>{{carrier.company}}</span><span class="company-location"><i class="fa fa-map-marker"></i> {{carrier.address}}</span><span class="package"><i class="fa fa-money"></i>{{carrier.salary | intcomma}}</span></p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <a href="{% url 'carrier' carrier.slug %}"><button type="submit" class="form-submit" name="View Job">View Job</button></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <div class="col-md-12 text-capitalize" style="font-family: krinkes_regular_personal_usRg; color:#000000">
        <h1>No Jobs Listed At The Moment, Please Try Again Later.</h1> 
    </div>
{% endif %}
        <div class="text-center">
            {% if user.is_authenticated %}
            <a href="{% url 'jobs' %}"><button type="submit" style="width: 200px; text-align:center; color:aliceblue" class="btn btn-success">Brows All Jobs</button></></a>
            {% else %}
            <div class="col-md-12"><a href="{% url 'login' %}"><span style="font-family:Aclonica">LogIn</span></a> To Brows All Job Vaccancies</div>
            {% endif %}
        </div>
    </div>
</section>



<section class="membercard dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h1 class="text-uppercase" style="font-family:krinkes_regular_personal_usRg; color:green; font-weight:900"><u>the administration</u></h1>
            </div>
{% if team %}
    {% for team in team %}
            <div class="col-md-4 col-sm-4">
                <div class="left-widget-sidebar">
                    <div class="card-widget user-card">
                        <div class="u-img img-cover" style="background-image: url({{team.photo1.url}});background-size:cover;"></div>
                        <div class="u-content">
                            <div class="avatar box-80">
                                <img class="img-responsive img-circle img-70 shadow-white" style="width:90px;height:90px;" src="{{team.photo2.url}}" alt="">
                                <i class="fa fa-circle-o" style="color: rgb(30, 179, 224); font-size:10px;font-weight:900"></i>
                            </div>
                            <h5 class="text-muted">{{team.name}}</h5>
                            <p style="font-family: krinkes_regular_personal_usRg;font-weight:500;">{{team.role}}</p>
                        </div> 
                        <div class="user-social-profile">
                            <ul>
                                {% if team.facebook %}
                                <li><a href="{{team.facebook}}"><i class="fa fa-facebook" style="background: #295396;"></i></a></li>
                                {% endif %}

                                {% if team.teitter %}
                                <li><a href=" {{team.twitter}} "><i class="fa fa-twitter" style="background: #1da0f2;"></i></a></li>
                                {% endif %}

                                {% if team.instagram %}
                                <li><a href=" {{team.instagram}} "><i class="fa fa-instagram" style="background: #d3368c;"></i></a></li>
                                {% endif %}

                                {% if team.google_plus %}
                                <li><a href="{{team.google_plus}}"><i class="fa fa-google-plus" style="background: #d6201f;"></i></a></li>
                                {% endif %}

                                {% if team.linkedin %}
                                <li><a href="{{team.linkedin}}"><i class="fa fa-linkedin" style="background: #0077b5;"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
    {% else %}
    <div class="col-md-12 text-capitalize">
        <h1 style="font-family: krinkes_regular_personal_usRg;">No administrative members are available at the moment. Please check on us  Later.</h1> 
    </div>
{% endif %}
        </div>
    </div>
</section>
   
    
{% endblock %}