{% extends 'base1.html' %}
{% load static %}
{% load humanize %}

{% block title %} Job-Details {% endblock %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<section class="inner-banner">
    <div class="container">
        <div class="caption">
            <h1 style="font-family: Aclonica;padding-top:67px">Check Out Job Details And Apply</h1>
            <p>Apply For A Chance To Work In The <span style="color: rgb(9, 219, 9);">Real Estate Field</span> </p>
        </div>
    </div>
</section>
{% include 'partials/_alerts.html' %}
<section class="profile-detail text-capitalize">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="basic-information">
                    <div class="col-md-3 col-sm-3">
                     <img src="{{carrier.logo.url}}" alt="" style="width:100%;height:100%;" class="img-responsive">
                    </div>
                    <div class="col-md-9 col-sm-9 text-capitalize">
                        <div class="profile-content">
                                <h2 style="padding-top: 20px;">COMPANY: <u>{{carrier.company}}</u><span style="color:#9aa043">{{carrier.job_title}}</span></h2>
                                {%if carrier.job_available is True%}
                                <p style="font-family: Aclonica;">Job vacancy Now Available</p>
                                {% else %}
                                <p style="font-family: Aclonica;" class="text-danger">Job vacancy unavailable</p>
                                {% endif %}
                                <ul class="information">
                                    <li><span>Address :</span>{{carrier.address}}</li>
                                    <li class="text-lowercase"><span class="text-capitalize">Website :</span>{{carrier.website}}</li>
                                    <li><span>Employer :</span>{{carrier.employer}}</li>
                                    <li class="text-lowercase"><span class="text-capitalize">Mail :</span>{{carrier.mail}}</li>
                                    <li><span>From :</span>{{carrier.date_posted}}</li>
                                </ul>
                            </div>
                        </div>
                    <ul class="social">
                        <li><a href="" class="facebook"><i class="fa fa-facebook"></i>Facebook</a></li>
                        <li><a href="" class="twitter"><i class="fa fa-twitter"></i>Twitter</a></li>
                        <li><a href="" class="instagram"><i class="fa fa-instagram"></i>Instagram</a></li>
                        <li><a href="" class="google"><i class="fa fa-google-plus"></i>Google Plus</a></li>
                        <li><a href="" class="linkedin"><i class="fa fa-linkedin"></i>Linked In</a></li>
                    </ul>
                    <div class="panel panel-default text-capitalize">
                        <div class="panel-heading">
                            <i class="fa fa-user fa-fw" style="font-size: 20px;"></i><span style="font-size: 20px;font-family:Aclonica;color:#109722">About The Job</span> 
                        </div>
                                            <!-- /.panel-heading -->
                        <div class="panel-body">
                        <p>{{carrier.about_job}}</p>	
                        </div>
                    </div>
                    
                    <div class="panel panel-default text-capitalize" style="padding-top: 20px;">
                        <div class="panel-heading">
                            <i class="fa fa-leaf fa-fw" style="font-size: 20px;"></i><span style="font-size: 20px;font-family:Aclonica;color:#109722">Employee's Responsibilities</span> 
                        </div>
                                            <!-- /.panel-heading -->
                        <div class="panel-body">
                        <p>{{carrier.responsibility_intro}}</p>	
                        <ul style="color:#108ca1">
                            <li>{{carrier.responsibility1}}</li>
                            <li>{{carrier.responsibility2}}</li>
                            <li>{{carrier.responsibility3}}</li>
                            <li>{{carrier.responsibility4}}</li>
                            <li>{{carrier.responsibility5}}</li>
                            <li>{{carrier.responsibility6}}</li>
                            <li>{{carrier.responsibility7}}</li>
                            <li>{{carrier.responsibility8}}</li>
                            <li>{{carrier.responsibility9}}</li>
                            <li>{{carrier.responsibility10}}</li>
                        </ul>
                        </div>
                    </div>
                    
                    <div class="panel panel-default text-capitalize" style="padding-top: 20px;">
                        <div class="panel-heading">
                            <i class="fa fa-coffee fa-fw" style="font-size: 20px;"></i><span style="font-size: 20px; font-family:Aclonica;color:#109722">Required qualifications</span> 
                        </div>
                                            <!-- /.panel-heading -->
                        <div class="panel-body">
                        <p>{{carrier.qualification_intro}} </p>	
                        <ul style="color:#108ca1">
                            <li>{{carrier.qualification1}}</li>
                            <li>{{carrier.qualification2}}</li>
                            <li>{{carrier.qualification3}}</li>
                            <li>{{carrier.qualification4}}</li>
                            <li>{{carrier.qualification5}}</li>
                            <li>{{carrier.qualification6}}</li>
                            <li>{{carrier.qualification7}}</li>
                            <li>{{carrier.qualification8}}</li>
                            <li>{{carrier.qualification9}}</li>
                            <li>{{carrier.qualification10}}</li>
                        </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                      <p class="pull-right text-capitalize">Proudly Brought to you by the CEO: Mr Ncho Julius Ncho</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--/ Contact Star /-->
<section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 section-t8">
          <div class="row">
            <div class="col-md-7">
            <form method="POST" class="form-a" enctype="multipart/form-data">
                {% csrf_token %}
                {%if user.is_authenticated%} 
                    <input type="hidden" name="user_id" value="{{user.id}}">
                {% else %} 
                    <input type="hidden" name="user_id" value="Visitor">
                {%endif%}
                <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="file" name="docs" accept=".jpg, .jpeg, .png, .docs, .doc, .pdf, .txt" id="docs" aria-required="false" multiple/>
                            </div>
                        </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label for="inputName">Name</label>
                            <input type="text" class="form-control form-control-lg form-control-a" id="inputName" name="name" placeholder="Name *"
                           {% if user.is_authenticated %} value="{{user.first_name}} {{user.last_name}}" {% endif %} required>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="inputEmail1">Email</label>
                            <input type="email" class="form-control form-control-lg form-control-a" name="email" 
                            placeholder="Email *" {% if user.is_authenticated %} value="{{user.email}}" {% endif %} required>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="inputEmail1">Phone</label>
                            <input type="text"  class="form-control form-control-lg form-control-a" name="phone" 
                            placeholder="Phone Number *" required>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="inputEmail1">Place Of Origin</label>
                            <input type="text" class="form-control form-control-lg form-control-a" name="place_of_origin" 
                            placeholder="Place Of Origin *" required>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="inputEmail1">Current City</label>
                            <input type="text" class="form-control form-control-lg form-control-a" name="current_city" 
                            placeholder="Current City *" required>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="inputEmail1">Neighbour Hood</label>
                            <input type="text" class="form-control form-control-lg form-control-a" name="neighbour_hood" 
                            placeholder="Neighbour Hood *" required>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="inputEmail1">Current Employment</label>
                            <input type="text" class="form-control form-control-lg form-control-a" name="current_employment" 
                            placeholder="Current Employment *" required>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label for="inputUrl">Subject</label>
                            <input type="text" class="form-control form-control-lg form-control-a" name="subject"  placeholder="subject" required>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label for="textMessage">Message</label>
                            <textarea id="textMessage" class="form-control" width: placeholder="Message *" cols="45" rows="8" name="message"  required></textarea>
                        </div>
                    </div>
                {% if user.is_authenticated %}
                    <div class="col-md-12">
                        <button type="submit" class="form-submit">Apply</button>
                    </div>
                {% else %}
                <div class="col-md-12 text-capitalize">
                  <p class="text-capitalize" style="font-size: 20px;">
                   you must  <span><a href="{% url 'register' %}"  style="font-family: Aclonica; color: rgb(7, 148, 61);">
                     Register<span></a> and/Or<a href="{% url 'login' %}"  style="font-family: Aclonica; color: rgb(7, 148, 61);">
                      logIn</a></span> to Apply for a Job. on this site.
                   </a></span>
                  </p>
                </div>
                {% endif %}
                </div>
            </form>
            </div>
            <div class="col-md-5 section-md-t3">
              <div class="icon-box section-b2">
                <div class="icon-box-icon">
                  <span class="fas fa-envelope-open"></span>
                </div>
                <div class="icon-box-content table-cell">
                  <div class="icon-box-title">
                    <h4 class="icon-title">Write Us</h4>
                  </div>
                  <div class="icon-box-content">
                    <p class="mb-1">Our Email.
                      <span class="color-a">njnhomes@gmail.com</span>
                    </p>
                    <p class="mb-1">Our Phone.
                      <span class="color-a">+54 356 945234</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="icon-box section-b2">
                <div class="icon-box-icon">
                  <span class="ion-ios-pin"></span>
                </div>
                <div class="icon-box-content table-cell">
                  <div class="icon-box-title">
                    <h4 class="icon-title">Find us in</h4>
                  </div>
                  <div class="icon-box-content">
                    <p class="mb-1">
                      Douala, Bonabery
                    </p>
                  </div>
                </div>
              </div>
              <div class="icon-box">
                <div class="icon-box-icon">
                  <span class="ion-ios-redo"></span>
                </div>
                <div class="icon-box-content table-cell">
                  <div class="icon-box-title">
                    <h4 class="icon-title">Social networks</h4>
                  </div>
                  <div class="icon-box-content">
                    <div class="socials-footer">
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a href="{{carrier.facebook}}" class="link-one">  
                            <i class="fa fa-facebook" style="color:#295396; font-size: 30px"  aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="{{carrier.twitter}}" class="link-one">
                            <i class="fa fa-twitter" style="color:#1da0f2; font-size: 30px" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="{{carrier.instagram}}" class="link-one">
                            <i class="fa fa-instagram" style="color:#d3368c; font-size: 30px" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="{{carrier.google_plus}}" class="link-one">
                            <i class="fa fa-google-plus" style="color:#d6201f; font-size: 30px" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="{{carrier.linkedin}}}" class="link-one">
                            <i class="fa fa-linkedin" style="color:#0077b5; font-size: 30px" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Contact End /-->
{% endblock %}